<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  <title>Pet Finder App</title>
</head>

<body>
<nav class="navbar navbar-dark">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
        <a href="/favorites"><button class="btn btn-outline-warning my-2 my-sm-0" type="submit">My Favorites</button></a>
</nav>

  {{{body}}}

</body>
</html>
