<div id="home">
  
  <div class="container">
    <div class="row">
      <div class="col-auto offset-2 mx-auto" id="testing">

        <h2 style="margin-top:20px">Search For a New Buddy!</h2>

        <div class="row offset-1">

          <form class="">
            <div class="form-group">
              <p>
                <strong>Search Area</strong>
                <input class="form-control" id="" placeholder="Please enter zipcode">
              </p>
            </div>

            <div class="row">

              <div class="col-md-6">
                <p>
                  <strong>Pet Type</strong>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="petType" id="exampleRadios1" value="Dog">
                  <label class="form-check-label">
                    Dog
                  </label></div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="petType" id="exampleRadios1" value="Cat">
                  <label class="form-check-label">
                    Cat
                  </label>
                </div>
                </p>
              </div>

              <div class="col-md-6">
                <p>
                  <strong>Gender</strong>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                  <label class="form-check-label"> Male</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                  <label class="form-check-label">
                    Female
                  </label>
                </div>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="size">Age</label>
                </div>
                <select class="custom-select" id="selectAge">
                  <option selected>Choose...</option>
                  <option value="Baby">Baby</option>
                  <option value="Young">Young</option>
                  <option value="Adult">Adult</option>
                  <option value="Senior">Senior</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="size">Size</label>
                </div>
                <select class="custom-select" id="selectSize">
                  <option selected>Choose...</option>
                  <option value="Small">Small</option>
                  <option value="Medium">Medium</option>
                  <option value="Large">Large</option>
                </select>
              </div>
            </div>

            <div class="row" style="margin-bottom:20px">
              <button type="submit" class="btn btn-warning btn-lg mb-2">FIND A FRIEND!</button>
            </div>

          </form>

        </div>
      </div>

    </div>



  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>