form.signup,
form.login {
  margin-top: 50px;
}

#signUpBox, #logInBox {
  padding: 10px;
  background-color: whitesmoke;
}

body {
  background-image: url('../img/petPattern.png');
}

#testing {
  border: 1px solid black;
  margin-top: 10px;
  background-color: #008AE6
}