form.signup,
form.login {
  margin-top: 50px;
}

#signUpBox,
#logInBox {
  padding: 10px;
  background-color: whitesmoke;
}

body {
  background-image: url("../img/petPattern.png");
}

div.testing {
  border: 1px solid black;
  margin-top: 10px;
  background-color: #008ae6;
}

.navbar {
  background-color: #005d9a;
}

div.animalBox {
  display: none;
}

.pet-card {
  width: 250px;
  margin-bottom: 5px;
}

div.pet-card {
  display: inline-block;
  margin-left: 10px;
}
