form.signup,
form.login {
  margin-top: 50px;
}

#signUpBox, #logInBox {
  padding: 10px;
  background-color: whitesmoke;
}

body {
  background-image: url('../img/petPattern.png');
}

div.testing {
  border: 1px solid black;
  margin-top: 10px;
  background-color: #008AE6
}

.navbar {
  background-color: #005D9A;
}

div.animalBox {
  display: none;
  display: flex; /*set display to flex*/
  flex-direction: column; /*flex direction colum*/
  flex-wrap: wrap; /*flex wrap*/
  align-content: flex-start;
}

/* resize images */
.pet-card img {
  width: 100%;
  height: auto;
}

.pet-card {
  width: 18rem;
  height: auto;
  margin-bottom: 5px;
}
